</div>
<footer>
  <div class="footer-padding">
  </div>
  <div class="footer">
    <!--  -->
  <a href="/compose" target="_blank" ><button type="button" class="btn btn-primary" id="addEvent" style="float:left;margin:14px;">
    Add Event
  </button></a>
    <p>Made with ❤️ by The MAAN Association</p>
  </div>
</div>


</footer>
</body>
</html>
